.similarWrapper {
	/* margin-top: 10px; */
}

.buttonSim {
	background-color: #c4c4c4;
	border: 1px solid #000000;
	margin-top: 15px;
	padding: 8px 20px;
	display: inline-block;
	line-height: 100%;
	font-size: 15px;
	color: #FFF;
	font-weight: 700;
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	max-width: 320px;
}

.buttonSim:hover {
	background-color: #000000;
}